.content {
    &__add-btn {
        float: right;
        margin-right: 16px;
    }

    &__cards {
        list-style-type: none;
        padding: 0 16px;
    }

    &__title {
        background: linear-gradient(90deg, white 0%, white 10%, #ff2f2f 100%);
        display: inline-block;
        font-size: 40px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
}