.input {
  display: block;
  margin: 8px 0;
  text-transform: uppercase;
}

.input__input {
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 4px;
  max-width: 100%;
  min-width: 100%;
}

.input__input[type="checkbox"] {
  display: none;
}

.input__label {
  color: #000;
  display: block;
  font-weight: 600;
}

.input__label--checkbox {
  cursor: pointer;
}

.input__label--checkbox::before {
  content: '';
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
}

.input__label--checked::before {
  background: #ff2f2f;
}
