.lander {
    overflow: hidden;

    &__container {
        margin: 64px auto;
        max-width: 1074px;
        min-height: 460px;
        text-align: center;

        &--centered {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    &__image {
        min-width: 1090px;
        position: fixed;
        width: 100%;
        z-index: -1;
    }

    &__title {
        color: #fff;
    }

    &__slogon {
        color: #fff;
        font-size: 48px;
        text-align: center;
    }
}