.modal {
  text-align: left;
  display: flex;
  justify-content: center;
}

.modal__close {
  float: right;
}

.modal__container {
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 20px;
  max-width: 600px;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.modal__error {
  color: #ff2f2f;
}

.modal::after {
  background: rgba(255, 255, 255, 0.2);
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
